<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>VideoRecSys + LargeRecSys</h1>
            <hr>
            <p>The joint workshop for Large Scale Recommender Systems and Large Scale Video Recommender Systems, held in conjunction with the 2024 ACM conference on Recommender Systems</p>

            <div class="col-lg-1 col-lg-offset-2 text-center">
                <a href="#largerecsys" class="btn btn-primary btn-xl page-scroll">LargeRecSys</a>
            </div>
        
            <div class="col-lg-1 col-lg-offset-4 text-center">
                <a href="#videorecsys" class="btn btn-primary btn-xl page-scroll">VideoRecSys</a>
            </div>
        </div>
    </div>
</header>
