<section class="bg-primary" id="largerecsys">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">LargeRecSys</h2>
                <hr class="light">
                <p class="text-faded">LargeRecSys is a workshop on large-scale recommender systems, aiming to bridge the gap between state-of-the-art RecSys research and the practical demands of operating large recommender systems at scale. We are going to invite researchers and practitioners from both industry and academia to engage in discussions and challenges inherent in large-scale recommender systems. </p>

                <p class="text-faded">Additionally, we invite contributions and submissions from practioners working on large scale recommender systems to submit contributed talk/poster proposals.</p>

                <a href="https://largerecsys.github.io/" class="btn btn-default btn-xl">Find out more about LargeRecSys here!</a>
            </div>
        </div>
    </div>
</section>
