<section id="videorecsys">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">VideoRecSys</h2>
                 <hr class="light">
                <p class="text-muted">The Large-Scale Video Recommendations workshop (VideoRecSys) brings together renowned researchers and industry experts in the field to delve into the latest advancements, cutting-edge techniques and innovative approaches that are shaping the future of large-scale video recommender systems. Through insightful discussions, engaging presentations and collaborative networking, we aim to foster a deeper understanding of the field's intricacies and collectively chart a course towards more effective, responsible and impactful video recommendations.</p>

                <a href="https://videorecsys.com/" class="btn btn-primary btn-xl">Find out more about VideoRecSys here!</a>
            </div>
        </div>
    </div>
</section>
